$treeElWidth: 100px;
$treeElHeight: 24px;
$color-1: #CFAA57;
$color-2: white;
$breakpoint1: 1000px;
$breakpoint2: 600px;


* {
	box-sizing: border-box;
}
body{
	background-color: #EBF4F9;
}
.svg-wrapper {
	position: absolute;
}

.tree {
	position: relative;
	&, & ul {
		@media(min-width: $breakpoint1) {
			display: flex;
			text-align: center;
			justify-content: center;
			& > li {
				flex-grow: 1;
			}
		}
		& > li {
			& > div {
				display: inline-flex;
				font-size: 20px;
				color: 414141;
				align-items: center;
				padding: 10px 10px;
				background-color: $color-1;
				border: 1px solid $color-2;
				border-radius: 5px;
				height: $treeElHeight;
				+ ul {
					@media(max-width: $breakpoint2) {
						padding-left: 24px;
						& > li {
							& > div {
								margin-top: 12px;
							}
						}
					}
					@media(min-width: $breakpoint1) {
						& > li {
							& > div {
								margin-top: 24px;
								font-size: 18px;
								color: #414141;
							}
						}
					}
				}
			}
			@media(min-width: $breakpoint2) and (max-width: $breakpoint1) {
				display: flex;
				align-items: center;
				& > div {
					margin-right: 24px;
	
				}
				& > ul > li:nth-child(n+2) {
					margin-top: 12px;
				}
			}
		}
	}
}