$treeElWidth: 100px;
$treeElHeight: 24px;
$color-1: rgb(218, 218, 218);
$color-2: black;
$breakpoint1: 1000px;
$breakpoint2: 600px;


* {
	box-sizing: border-box;
}
.svg-wrapper {
	position: absolute;
}

.tree {
	position: relative;
	&, & ul {
		@media(min-width: $breakpoint1) {
			display: flex;
			text-align: center;
			justify-content: center;
			& > li {
				flex-grow: 1;
			}
		}
	}
	li {
		& > div {
			display: inline-flex;
			align-items: center;
			padding: 0 5px;
			background-color: $color-1;
			border: 1px solid $color-2;
			height: $treeElHeight;
			+ ul {
				@media(max-width: $breakpoint2) {
					padding-left: 24px;
					& > li {
						& > div {
							margin-top: 12px;
						}
					}
				}
				@media(min-width: $breakpoint1) {
					& > li {
						& > div {
							margin-top: 24px;
						}
					}
				}
			}
		}
		@media(min-width: $breakpoint2) and (max-width: $breakpoint1) {
			display: flex;
			align-items: center;
			& > div {
				margin-right: 24px;

			}
			& > ul > li:nth-child(n+2) {
				margin-top: 12px;
			}
		}
	}
}

