$treeElWidth: 100px;
$treeElHeight: 24px;
$color-1: rgb(218, 218, 218);
$color-2: black;
$breakpoint1: 800px;
$breakpoint2: 0px;


* {
	box-sizing: border-box;
}
.svg-wrapper {
	position: absolute;
}

.tree {
	position: relative;
	li > div {
		display: inline-flex;
		align-items: center;
		padding: 0 5px;
		background-color: $color-1;
		border: 1px solid $color-2;
		height: $treeElHeight;
	}
	div {
		@media(max-width: $breakpoint1) {
			+ ul {
				padding-left: 24px;
				& > li {
					& > div {
						margin-top: 12px;
					}
				}
			}
		}
		@media(min-width: $breakpoint1) {
			+ ul {
				& > li {
					& > div {
						margin-top: 24px;
					}
				}
			}
		}
	}
}

@media (min-width: $breakpoint1) {
	.tree, .tree ul {
		display: flex;
		text-align: center;
		justify-content: center;
		& > li {
			flex-grow: 1;
		}
	}
}
